{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'recipes/css/stylesnew.css' %}" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' />

</head>

<body>
{% block mainmenu %}
    <div class="header">
        <div class="logo_container">
            <a href="{% url '' %}"><img class="logo" src="{% static 'recipes/images/logo.svg' %}" alt="eatit home page"/></a>
        </div>

        <ul class="navigation">
            {% for m in menu %}
                <a style="padding-right: 5%"><li>{{ m }}</li></a>
            {% endfor %}
        </ul>
        <div style="padding-right: 3%; padding-top: 23px;">
            <a style="float: right" href="{% url 'register' %}"><h1>Sign up</h1></a>
            <a style="float: right; padding-right: 2%" href="{% url 'login' %}"><h1>Log in</h1> </a>
        </div>
    </div>
{% endblock mainmenu %}

<div style="padding-top: 80px">
{% block content %}

{% endblock content %}
</div>
</body>
</html>