{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>eatIt</title>
  <link type="text/css" href="{% static 'recipes/css/styles.css' %}" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' />
</head>

<body>
  <div>
    <abc>
      <img id="top_rectangle" src="{% static 'recipes/images/top_rectangle.svg' %}" />
      <img id="logo" src="{% static 'recipes/images/logo.svg' %}" />
      <div>
        <a href="#" class="button" id="Calories">&nbsp;&nbsp;Calories plan</a>
        <a href="#" class="button" id="Water">&nbsp;&nbsp;Water plan</a>
        <a href="#" class="button" id="About">&nbsp;&nbsp;&nbsp;About</a>
        <a href="{% url 'login' %}" class="button">&nbsp;&nbsp;&nbsp;Lig in</a>
        <a href="{% url 'register' %}" class="button">&nbsp;&nbsp;&nbsp;Sign up</a>
      </div>
      <img id="top_line" href="{% static 'recipes/images/top_line.svg' %}" />
    </abc>
  </div>

  <div>
    <img id="tag" src="{% static 'recipes/images/tag.svg' %}" />
    <img id="home_photo" src="{% static 'recipes/images/home_photo.png' %}" />
  </div>

  <div>
    <img id="input_field" src="{% static 'recipes/images/input_field.svg' %}" />
    <img id="Search_icon" src="{% static 'recipes/images/Search_icon.svg' %}" />
    <input id="search_text" type="text" placeholder="Search for dish" />
  </div>
</body>

</html>
