{% extends 'recipes/base1.html' %}
{% load static %}


{% block content %}

    <div style="display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  width: 100%">
        <img style="width: 31%" src="{% static 'recipes/images/tag.svg' %}" />
        <img style="width: 40%" src="{% static 'recipes/images/home_photo.png' %}" />
    </div>

     <div style="display: flex;
      justify-content: center;
      align-items: center;
      margin: auto 0;
      width: 100%;
      padding-top: 50px">
            <div style="position: absolute">
                <img style="position: absolute;" src="{% static 'recipes/images/input_field.svg' %}" />
                <img style="position: absolute" src="{% static 'recipes/images/Search_icon.svg' %}" />
                 <label>
                     <input style="position: absolute" type="text" placeholder="Search for dish" />
                 </label>
            </div>
     </div>

    {% for r in recipes %}

        <a><li>
                <h2>{{ r.name }}</h2>
                <p>{{ r.cat }}</p>
            </li></a>

    {% endfor %}

{% endblock content %}