{% extends 'recipes/base.html' %}

{% block content %}

<form method="post" class="form-group">
    {% csrf_token %}
{#    {{  form.as_p  }}#}
<div class="form-error">{{ form.non_field_errors }}</div>

    {% for f in form %}
          <div class="form-group" style="margin-left: 33%; width: 33%">
            <label for="{{ f.id_for_label }}"></label>
            {{ f }}
            <small id="emailHelp" class="form-text text-muted">{{ f.errors }}</small>
          </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary" style="margin-left: 47%; width: 6%; margin-top: 20px">Log in</button>
</form>

{% endblock %}