{% extends 'recipes/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
    <div class="container">

{% if request.user.is_authenticated %}
{#    Categories checkbox      #}
<form action="{% url 'filter' %}" method="get">
    {% for cat in cats %}
        <div class="form-check">
              <input class="form-check-input" type="checkbox" value="{{ cat.pk }}" name="cat">
                  <label class="form-check-label" for="flexCheckDefault">
                      {{ cat.name }}
              </label>
        </div>
    {% endfor %}
    <button type="submit">Filter</button>
</form>



{#   Recipe list    #}
    {% for item in recipes %}
    <div class="card" style="width: 18rem;">
        <a href="{% url 'post' item.pk %}"><img src="{{item.photo.url}}" class="card-img-top"></a>
      <div class="card-body">
          <p class="card-text"><h3> <a href="{% url 'post' item.pk %}">{{ item.name }}</a> </h3>
          <p>{% for c in item.cat.all %}
              {{ c.name }}
              {% endfor %}</p>
        <p>{% for ing in item.ingr.all %}
              {{ ing.name }}
              {% endfor %}</p>
          <p>{{ item.content|truncatewords:30 }} </p>
        {% if request.user.is_authenticated %}
            <button type="button" class="btn btn-outline-primary" ><a href="{% url 'login' %}" class="nav-item">Edit</a></button>
        <button type="button" class="btn btn-outline-primary" ><a href="{% url 'del_recipe' item.pk %}" class="nav-item">Delete</a></button>
        {% endif %}
        </div>
      </div>
        {% empty %}
        <h1>You haven't add any recipe yet</h1>
    {% endfor %}


{#    Page numbers    #}
    {%  if page_obj.has_other_pages %}
       <ul>
       {% if page_obj.has_previous %}
       <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a> </li>
           {% endif %}
        {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
            <li class="page-num page-num-selected">{{ p }}</li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
            <li>
            <a href="?page={{ p }}">{{ p }}</a>
            </li>
            {% endif %}
        {% endfor %}
       {% if page_obj.has_next %}
       <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a> </li>
           {% endif %}
        </ul>
    {% endif %}

{% else %}
<h1>Log in to continue</h1>
{% endif %}

{% endblock content %}
</div>
</html>